
@{
    ViewBag.Title = "Dashboard_GL_BH";

    Layout = "~/Views/Shared/_GL_BH_Layout.cshtml";
}





<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>DASHBOARD</h2>
        </div>
    </div>
</section>

