
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_VL_Branch_Head.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>DASHBOARD</h2>
        </div>


    </div>
</section>

